

.x_sxz{width:1002px;margin:0 auto;padding:10px 0px;}
.x_sxz a{padding:0px 4px;}
.x_sxz a img{width:490px;height:295px;border:1px solid #e5e5e5;}
/*推荐中心*/

.x_feml{width:1002px;margin:0 auto;padding:10px 0px;}
.x_feml ul li{float:left;width:501px;margin: 10px 0px;}
.x_qud{width:310px;}    
.x_chsk a img{background: #eeeeee;padding:11px 42px; width:84px; height:58px;}
.x_ueor{margin:0px 20px;}
.x_dlqdq{font-size:15px;color:#424242;font-weight:bold;line-height:30px;}
.x_akn{float:left;line-height:24px;}
.x_akn a{color:#aeaeae;font-size:12px;padding:0px 25px 0px 0px;display: inline-block;}
/*产品分类*/

.x_kandf{width:1002px;margin:0 auto;padding:10px 0px;}
.x_kandf ul li{float:left;margin-right:8px;}
.x_kandf ul li a img{width:60px;height:38px;padding:18px 49px;background:#eeeeee;}
.x_qiand{padding:5px 0px;}
.x_qiand p{color:#000000;line-height:24px;}
.x_qiand p a{color:#000000;line-height:24px;}
/*最旺资源*/


.x_liebie{font-size:12px;color:#a40000;line-height:30px;padding:0px 10px;width:70px;}
.x_fensk{margin: 8px 0px;width:460px;}
.x_shak{width:340px;line-height: 30px;}
.x_shak .x_gou{padding:0px 10px;color:#696969;font-size:12px;}
.x_shak input{width:200px;line-height:24px;color:#696969;border:1px solid #e9e9e9;text-indent:0.5em;height:24px}
.x_shak select{font-size:12px;color:#696969;padding:4px;width: 80px;border: 1px solid #e9e9e9;height:24px;}

.x_shaak{width:340px;line-height: 30px;}
.x_shaak input{width:244px;line-height:24px;color:#696969;border:1px solid #e9e9e9;text-indent:0.5em;height:24px;}
.x_qrfb{margin:30px 0px 45px 10px;}
.x_qrfb a{padding:12px 40px;text-align:center;background:#a40000;color:#fff;font-size:14px;}
/*车源信息发布*/

.x_chufd{margin:10px 0px 20px 10px;}
.x_jai{color:#bb4140;font-size:12px;padding-right:20px;}
.x_jai em{color:#bb4140;font-size:12px;line-height:26px;}
.x_jai a{color:#bb4140;font-size:12px;line-height:26px;}
.x_hdj{color:#5f5f5f;font-size:12px;line-height:26px;}
/*车源查询*/


.x_shxfj{padding:10px 0px 20px 0px;margin:0 auto; width:1002px;}
.x_shxfj ul li a img{width:236px;border:1px solid #f0f0f0;}
.x_shxfj ul li{float:left;display:inline;width:238px;margin:15px 5px;}
.x_zosf{padding:5px;}
.x_zosf p{line-height:24px;color:#aeaeae;}
.x_zosf p a{color:#aeaeae;line-height:24px;}
/*产品列表*/


.x_tob{margin:30px 0px;}
.x_toubiao{padding: 10px 0px;}
.x_tbl{width: 90px;height:44px;background: #a40000;margin: 0px 10px;color:#fff;padding:5px 10px;}
.x_tbl i{color:#fff;font-size:36px;font-style:italic;line-height:44px;}
.x_tbl em{color:#fff;font-size:14px;}
.x_tbzj{padding: 0px;}
.x_baoj a{color:#a40000;font-size:14px;line-height:24px;}
.x_baojq a{color:#858585;font-size:14px;line-height:24px;}
.x_tbr{width:80px;height:50px;}
.x_tbr a{color:#a40000;}
.x_tbr a i{color:#a40000;font-size:30px;font-style:italic;line-height:50px;}
.x_tbr a em{padding:0px 0px 0px 10px;}
/*投标*/

/*登录界面*/
.x_dlyem{background:url(../../../../images/x_denglubj_02.png) no-repeat;width:100%;height:700px;}
.x_dlyema{width:1002px;height:auto;margin:0 auto;}
.x_ye{position:relative;height:700px;margin:0 auto;}
.x_yel{position:absolute;width:370px;height:368px;box-shadow:0px 0px 4px #0c0306;background:#f5f5f5;top:127px;right:22px;}
.x_yela{margin:20px 25px;height: 328px;}
.x_yela1{color:2d2d2d;font-size:16px;line-height:30px;}
/*第一种登录*/
.x_loginbox{}
.x_login1{background:#ffffff;margin-top:22px;border:1px solid #dcdcdc;}
.x_login01{height:42px;overflow:hidden;border-radius:0;}
.x_login01 img{ display:block; float:left; width:24px;height:24px;padding:9px;border-right:1px solid #dcdcdc;}
.x_login01 input{ float:left; width:250px; border:none;line-height:42px; outline:none;font-size:14px;padding-left:5px;}
.x_ycw{margin:10px 0px;}
.x_ycw img{width:12px;height:12px;vertical-align:middle;padding: 6px 6px 8px 6px;}
.x_yhmcw{color:#ff0000;font-size:12px;line-height:24px;}

.x_zid{padding: 4px 0px 0px 0px;}
.x_jzhu input{width:15px;height:15px;vertical-align: middle;margin:5px;line-height:24px;}
.x_jzhu span{color:#9b9b9b;padding-left:5px;line-height:24px;}
.x_jzhu a{color:#9b9b9b;padding-top:2px;line-height:24px;}

.x_dlu{margin:10px 0px 6px 0px;height:42px;text-align:center;width:320px;}
.x_dlu a{color:#fff;font-size:18px;line-height:42px;margin:0 auto;background:#a40000;padding: 12px 138px;}
.x_zhuc1{margin:8px 0;}
.x_zhuc1 a{line-height:24px;font-size:14px;color:#9b9b9b;}

/* CSS Document */
/*登录界面*/
.x_dlyem{background:url(../images/x_denglubj_02.png) no-repeat;width:100%;height:700px;}
.x_dlyema{width:1002px;height:auto;margin:0 auto;}
.x_ye{position:relative;height:700px;margin:0 auto;}
.x_yel{position:absolute;width:370px;height:368px;box-shadow:0px 0px 4px #0c0306;background:#f5f5f5;top:127px;right:22px;}
.x_yela{margin:20px 25px;height: 328px;}
.x_yela1{color:2d2d2d;font-size:16px;line-height:30px;}

/*忘记密码*/
.x_zc{width:100%;height:auto;}
.x_zcbz{width:1002px;height:auto;margin:0 auto;}
.x_zcbz1{width:1002px;height:133px;border-top:2px solid #dcdcdc;border-bottom:2px solid #dcdcdc;}
.x_zcbz1 span{width:250px;float:left;text-align: center;padding: 80px 0px 17px 0px;line-height:36px;font-size:16px;color:#6e6e6e;}
.x_zcbz1 .C-current{color:#a40000;border-bottom: 2px solid #a40000;}
.x_zcbz1 .C-current i{background:#a40000;}
.x_zcbz1 span i{line-height: 36px;display: inline-block;width: 36px;height: 36px;border-radius: 36px;background: #dcdcdc;font-style:italic;font-size: 18px;font-weight: bold;color: #fff;margin: 0 5px;}
.x_fanh{width:300px;height:42px;text-align:center;margin:0 auto;margin-top:50px;}
.x_fanh a{color:#fff;font-size:16px;background:#a40000;padding: 10px 112px;width:300px;height:42px;line-height:42px;}
.C-current{border-bottom: 2px solid #a40000;color:#a40000;}
.x_kan{padding:66px 0px 80px 0px;margin: 0 auto;text-align: center;}
.x_shuru{width:400px;margin:0 auto;}
.x_shumm{color:#2d2d2d;font-size:16px;line-height:42px;    float: left;}
.x_log1{background:#ffffff;margin-top:22px;}
.x_log01{height:44px;overflow:hidden;border-radius:0;}
.x_log01 img{ display:block;width:24px;height:24px;padding:9px;}
.x_log01 input{height:42px; float:left; width:250px;line-height:42px; outline:none;font-size:14px;padding-left:5px;border:1px solid #dcdcdc;}
.x_ycw{margin:10px 0px;}
.x_ycw img{width:12px;height:12px;vertical-align:middle;padding: 6px 6px 8px 6px;}
.x_yhmcw{color:#ff0000;font-size:12px;line-height:24px;}
.x_zcbz1 ul li .x_dhengh{color:#a40000;font-size:16px;}
.x_zcbz1 ul li a .x_bej{background:#a40000;}

/*登录界面*/
.x_dlyem{background:url(../images/x_denglubj_02.png) no-repeat;width:100%;height:700px;}
.x_dlyema{width:1002px;height:auto;margin:0 auto;}
.x_ye{position:relative;height:700px;margin:0 auto;}
.x_yel{position:absolute;width:370px;height:368px;box-shadow:0px 0px 4px #0c0306;background:#f5f5f5;top:127px;right:22px;}
.x_yela{margin:20px 25px;height: 328px;}
.x_yela1{color:2d2d2d;font-size:16px;line-height:30px;}

/*注册步骤*/
.x_kan{padding:66px 0px 80px 0px;margin: 0 auto;text-align: center;}
.x_zhcg img{width:50px;height:50px;padding:5px;}
.x_gxcg{color:#2d2d2d;font-size:16px;line-height:36px;padding:5px;}
.x_zhucg{padding:20px 0px;}
.x_zhxx{width:320px;height:auto;margin:0 auto;}
.x_zha{color:#9b9b9b;font-size:14px;}
.x_ham{margin:20px 0px 30px 0px;}
.x_bangdi{color:#2d2d2d;font-size:16px;line-height:30px;}
.x_bangdi span{color:#9b9b9b;font-size:16px;line-height:30px;}
.x_faaxnh{width:400px;height:42px;text-align:center;margin:0 auto;padding:20px 0px 0px 0px;}
.x_faaxnh a{color:#fff;font-size:16px;background:#a40000;padding: 10px 112px;}

.x_shxfj ul li a{position:relative;}
.x_dingy{position:absolute;left:0px;width:64px;height:24px;line-height:24px;background:#00541a;color:#fff;text-align:center;}
.x_dingy1{position:absolute;left:0px;width:64px;height:24px;line-height:24px;background:#d4d4d4;color:#fff;text-align:center;}
.x_dingy2{position:absolute;left:0px;width:64px;height:24px;line-height:24px;background:#a40000;color:#fff;text-align:center;}
.x_zosf .x_shengy{line-height: 24px;color:#a40000;}
.x_jier{width:234px;height:32px;line-height:32px;}
.x_jiero{width:74px;height:32px;line-height:32px;color:#fff;background:#424242;text-align:center;padding:0px;}
.x_jiero1{width:74px;height:32px;line-height:32px;color:#fff;background:#a40000;text-align:center;padding:0px;}
.x_jierop{width:160px;height:32px;line-height:32px;padding:0px;}
.x_jierop a{color:#fff;background:#c7c7c7;text-align:center;line-height:32px;padding: 8px 44px;height:32px;}
/*热门招标*/

.x_fabcgxx{width:1002px;height:440px;margin:0 auto;}
.x_fabcgxx1{width:1002px;height:120px;border-top:2px solid #dcdcdc;border-bottom:2px solid #dcdcdc;}
.x_fabcgxx1 span:first-child{width:300px;}
.x_fabcgxx1 span{width:150px;float:left;text-align: center;padding: 80px 0px 17px 0px;color:#9b9b9b;font-size:16px;line-height:24px;}
.x_fabcgxx1 .x_conta1{border-bottom: 2px solid #a40000;color:#a40000;}
.x_kaadxn{padding:10px 0px 60px 0px;margin: 0 auto;text-align: center;}
.x_chj{padding: 0px 0px 20px 0px;margin:0 auto;}
.x_chj ul li{width:330px;padding:0px 2px;float:left;display:inline;text-align:center;}
.x_chj ul li p{color:#a40000;font-size:15px;line-height:48px;}
.x_chj ul li p i{color:#a40000;font-size:38px;font-family:Georgia, "Times New Roman", Times, serif;line-height:48px;}
/*发布采购信息*/


/*产品分类*/

.x_kandf{width:1002px;margin:0 auto;padding:10px 0px;}
.x_kandf ul li{float:left;margin-right:8px;}
.x_kandf ul li a img{width:60px;height:38px;padding:18px 49px;background:#eeeeee;}
.x_qiand{padding:5px 0px;}
.x_fdlg{color:#acacac;line-height:24px;}
.x_fdlg a{color:#acacac;line-height:24px;}
.x_pf{color:#8b8b8b;font-size:16px;}
.x_pf i{color:#a40000;font-size:16px;}
/*优秀供应商*/


/*发布采购信息*/

.x_kaandf{width:1002px;margin:0 auto;padding:10px 0px;}
.x_kaandf ul li{float:left;display:inline;width:495px;padding:10px 5px 0px 0px;}
.x_tbrs{color:#fff;font-size:12px;width: 76px;margin: 5px 10px;padding: 10px 0px;text-align: center;background: #a40000;overflow: hidden;}
.x_nei{}
.x_chuan{}
.x_chuan a{color:#474747;font-size:12px;line-height:24px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.x_chuan1{}
.x_chuan1 a{color:#a40000;font-size:12px;line-height:24px;}


/*招标资讯公示*/


.x_sxz{width:1002px;margin:0 auto;padding:10px 0px;}
.x_sxz a{padding:0px 4px;}
.x_sxz a img{width:490px;height:295px;border:1px solid #e5e5e5;}
/*推荐中心*/

.x_kaij{padding:15px 10px 0px 10px;margin:0 auto;border-bottom:1px solid #d9d9d9;height:186px;}
.x_shipei{}
.x_shioei{width:600px;height:auto;}
.x_sie{padding:5px 0px;}
.x_sie a{font-size:22px;color:#a40000;line-height:24px;}
.x_yaoq{font-size:14px;color:#bababa;line-height:24px;padding:5px 0px;}
.x_shiaei{width:220px;}
.x_juli{font-size:16px;color:#646464;line-height:24px;width:220px;}
.x_tiansh{width:220px;}
.x_tiansh i{font-size:45px;color:#a40000;line-height:48px;}
.x_tiansh em{font-size:15px;color:#a40000;line-height:48px;}

.x_caig{padding:20px 0px 10px 0px;}
.x_caig1{width:620px;}
.x_liu{font-size:12px;color:#a2a2a2;line-height:24px;}
.x_liu i{font-size:12px;color:#a2a2a2;line-height:24px;width:62px;float:left;display:inline;}
.x_caig2{padding:42px 0px 0px 0px;width:340px;display:inline;}
.x_hsj{font-size:20px;color:#a40000;padding-right:15px;line-height: 30px;}
.x_hsj a{font-size:20px;color:#a40000;}

.x_caiag{margin:20px 10px;height:96px;}
.x_caig3{padding:20px 0px 0px 0px;height: 56px;}
.x_liu a{font-size:12px;color:#a40000;}
.x_liu a i{font-size:12px;color:#a40000;}
.x_caig3 a{font-size:20px;color:#fff;padding:15px 25px;background:#a40000;line-height:56px;}

.x_caugh{padding:15px 10px;}
.x_shul{font-size:30px;color:#a2a2a2;padding-right:30px;line-height:40px;}
.x_shul a{font-size:30px;color:#a40000;}
.x_caifhx{padding:15px 10px 30px 10px;}
.x_jutia{font-size:20px;color:#a40000;line-height:36px;}
.x_miaoshu{font-size:12px;color:#888888;line-height:24px;}


.x_shdz{margin:0 auto;padding:10px 30px;width:1002px;height:auto;}
.x_xinz{font-size:16px;color:#000;line-height:30px;padding: 5px 0px 5px 0px;}
.x_zod{width:1002px;height:auto;padding:10px 0px;}
.x_shdu1{color:#000;font-size:12px;line-height:32px;width:70px;padding:0px 10px;}
.x_shdu1 i{color:#f35c7f;line-height:32px;height:32px;}
.x_pirj{width:902px;}
.x_pirj input{width:334px;height:32px;line-height:32px;border:1px solid #d7d7d7;text-indent:0.5em;}
.x_pirj em{color:#7f7f7f;line-height:32px;height:32px;float:left;padding-right:10px;}
.x_xiaok{padding-right:10px;}
.x_xiaok input{width:88px;height:32px;line-height:32px;border:1px solid #d7d7d7;text-indent:0.5em;}
.x_xiaok1{padding-right:10px;}
.x_xiaok1 input{width:140px;height:32px;line-height:32px;border:1px solid #d7d7d7;text-indent:0.5em;}
.x_kdkfj{width: 490px;padding-right: 11px;}
.x_kf{}
.x_kf input{width:278px;height:32px;line-height:32px;border:1px solid #d7d7d7;text-indent:0.5em;}
.x_zod a{color:#fff;font-size:12px;background:#a40000;line-height:52px;text-align:center;padding:18px 76px;}
/*新增收货地址*/

.x_shdz table{width:932px;height:126px;border-top: 1px solid #ddd;border-left: 1px solid #ddd;}
.x_shdz table tr th{background:#f9f8f8;}
.x_shdz table tr td,.x_shdz table th{text-align:center;border-collapse: collapse;line-height:42px;color:#484848;border-right: 1px solid #ddd;border-bottom: 1px solid #ddd;}
.x_shdz table tr td i{color:#a40000;font-size:12px;}
.x_fenxfj{padding-left:5px;}
.x_fenxfj a{color:#fff;font-size:12px;background:#a40000;text-align:center;padding:1px 4px;}
.x_shdz table tr td button{border:1px solid #ededed;background:#feffe5;width:70px;height:28px;line-height:28px;color:#484848;}

.x_gre{width:932px;height:60px;border: 1px solid #efe68b;background:#feffe5;margin: 15px 0px 30px 0px;}
.x_baj{width:900px;padding:0 16px;}
.x_zuih{line-height:60px;color:#484848;}
.x_zuih a{line-height:60px;color:#a40000;}
.x_zuih12 a{line-height:60px;color:#484848;}

/*已保存收获地址*/


.x_grgwzx{width:1002px;height:auto;margin:0 auto;}
.x_grgwzx1{width:860px;height:133px;border-bottom:2px solid #dcdcdc;}
.x_grgwzx1 span{width:280px;float:left;text-align: center;padding: 80px 0px 17px 0px;line-height:36px;font-size:16px;color:#6e6e6e;}
.x_grgwzx1 .x_conta1{color:#a40000;border-bottom: 2px solid #a40000;}


.x_zcbz{width:1002px;height:auto;margin:0 auto;}
.x_zcbz1{width:1002px;height:133px;border-top:2px solid #dcdcdc;border-bottom:2px solid #dcdcdc;}
.x_zcbz1 span{width:250px;float:left;text-align: center;padding: 80px 0px 17px 0px;line-height:36px;font-size:16px;color:#6e6e6e;}
.x_zcbz1 .C-current{color:#a40000;border-bottom: 2px solid #a40000;}
.x_zcbz1 .C-current i{background:#a40000;}
.x_zcbz1 span i{line-height: 36px;display: inline-block;width: 36px;height: 36px;border-radius: 36px;background: #dcdcdc;font-style:italic;font-size: 18px;font-weight: bold;color: #fff;margin: 0 5px;}
/*个人中心我的购物*/

.x_xia{width:990px;height:auto;margin:0 auto;padding:15px 6px;}
.x_xiaw{font-size:22px;color:#a40000;line-height:30px;}
.x_xiaw a{font-size:22px;color:#a40000;line-height:30px;}
.x_zhm{color:#8d8d8d;line-height:24px;}
.x_scdl{}
.x_dengk{height:52px;line-height:52px;color:#8d8d8d;}
.x_dengk a{line-height:52px;color:#8d8d8d;padding-right:8px;}
.x_zhye{line-height:52px;color:#8d8d8d;padding-left:20px;}
.x_zhye i{line-height:52px;color:#a40000;font-size:25px;}
.x_zhye em{line-height:52px;color:#a40000;font-size:16px;}
.x_mx{padding:0px 0px 0px 60px;}
.x_mx a{color:#fff;background:#a40000;line-height:52px;padding:6px 26px;margin-right:15px;}
.x_mx .x_ckmx a{background:none;color:#a40000;line-height:52px;padding:0px;}

.x_zjjays{width:1002px;height:auto;margin:0 auto;}
.x_geh{border-bottom:1px solid #e1e1e1;height:30px;}
.x_jsy{color:#000;font-size:14px;line-height:30px;}
.x_shouwe{padding-left:20px;}
.x_shouwe span{padding:0px 5px;line-height:30px;color:#a40000;}
.x_shouwe span:last-child{border-right:none;}
.x_xiak{width:980px;height:auto;margin:0 auto;padding:10px 11px;}
.x_sh i{color:#a40000;}
.x_xiak table{width:980px;border:none;border-collapse: collapse;}
.x_xiak table tr th{height:26px;line-height:26px;}
.x_xiak table tr td,.x_xiak table th{border:none;border-collapse: collapse;text-align: left;color:#919191;}
.x_xiak table tr .x_dkfjj2{text-align: right;}
.x_xiak table tr .x_dkfj1{text-align: right;}
.x_xiak table tr .x_yans{color:#05774d;}
.x_xiak table tr .x_yans1{color:#a40000;}
.x_xiak table tr .x_yans2{color:#9f9f9f;}
.x_xiak table tr td{height:18px;line-height:18px;padding:6px 0px;}
.x_xiak table tr td a{color:#a40000;height:24px;line-height:24px;}
.x_xiak table tr td .x_xx1 a{color:#7e7e7e;height:24px;line-height:24px;}
/*个人中心余额*/

.x_youf{padding:15px 0px;}
.x_xby{padding:5px 0px;}
.x_xby a{color:#a40000;line-height:24px;}
.x_yousx{color:#858585;line-height:24px;width:360px;padding-right:20px;}
.x_yousx i{color:#858585;line-height:24px;}

.x_ndaq{padding:8px 0px;}
.x_ndaq table{width:932px;height:126px;border-top: 1px solid #ddd;border-left: 1px solid #ddd;}
.x_ndaq table tr td{text-align:center;border-collapse: collapse;line-height:42px;color:#484848;border-right: 1px solid #ddd;border-bottom: 1px solid #ddd;}
.x_ndaq table tr td button{border:1px solid #ededed;background:#feffe5;width:70px;height:28px;line-height:28px;color:#484848;}
.x_ndaq table tr a{color:#a40000;line-height:42px;}
.x_ndaq table tr .x_cunz{text-align:left;color:#a40000;padding:0px 0px 0px 10px;}
.x_ndaq table tr .x_cunz1{text-align:left;color:#989898;padding:0px 0px 0px 10px;}
.x_ndaq table tr img{padding:0px 20px;}

.x_quer{color:#afafaf;line-height:24px;}
.x_quer a{color:#afafaf;line-height:24px;}

/*个人中心账户安全*/





























































